process {
    executor = 'local'
    debug = true
    cpus = 2
    memory = '8 GB'
	containerOptions = '--memory-swap=-1 --memory-swappiness 20 --shm-size=4g'

    withName: spikesort_kilosort25 {
        errorStrategy = 'retry'
        maxRetries = 3
        maxErrors = 5
    }
    withName: spikesort_kilosort4 {
        errorStrategy = 'retry'
        maxRetries = 3
        maxErrors = 5
    }
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--volume $DATA_PATH:/tmp/data'
    envWhitelist = ['KACHERY_ZONE', 'KACHERY_CLOUD_CLIENT_ID', 'KACHERY_CLOUD_PRIVATE_KEY']
}

dag {
    enabled = true
    file = RESULTS_PATH + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = RESULTS_PATH + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = RESULTS_PATH + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = RESULTS_PATH + '/nextflow/trace.txt'
    overwrite = true
}
